

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .card {
    width: clamp(180px, 45vw, 300px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .card-body {
    padding: 1% 20px 20px 20px;
    text-align: center;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  
  .card-text {
    font-size: 18px;
    color: #333;
  }

  .nsfw-image{
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    filter: blur(30px);
  }

  .text-overlay{
    position: relative;
    left: 45%;
    top: -30%;
    font-weight: 900;
  }

  @media (max-width: 768px) {
    .card-row {
      justify-content: center;
    }

    .card {
      width: clamp(150px, 70vw, 260px);
    }

    .card-title {
      font-size: 18px;
    }
  }

  .upper-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(35, 47, 62, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border-radius: 16px;
    backdrop-filter: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
  }

.upper-body-vote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 40px;
    background: rgba(145, 138, 138, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border-radius: 50%;
    backdrop-filter: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .upper-body-vote h3{
    font-family: 'Audiowide', cursive;
  }
