.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(35, 47, 62);
    color: #fff;
    height: 80px;
    justify-content: space-around;
    padding-left: 5%;
  }
  
  .navbar h2{
    font-family: 'Audiowide', cursive;
  }
  .navbar-logo {
    margin-right: 50px;
  }
  
  .navbar-logo img {
    height: 60px;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-links a:hover {
    color: #e5b905;
  }
  
  .navbar-links a:focus{
    color: #e5b905;
  }

.search-icon{
  margin: 0 4px;
  color: rgb(35, 47, 62);
}

.input-container{
  border-radius: 75px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  background-color: white;
}
.input-form{
  border: none;
}

.input-form:focus{
  outline: none;
}